---
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bg">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta name="generator" content={Astro.generator} />
        <!-- Privacy-friendly analytics by Plausible -->
        <script
            is:inline
            async
            src="https://plausible.io/js/pa-Evb9tteFoY29Nio466Iot.js"></script>
        <script is:inline>
            window.plausible =
                window.plausible ||
                function () {
                    (plausible.q = plausible.q || []).push(arguments);
                };
            plausible.init =
                plausible.init ||
                function (i) {
                    plausible.o = i || {};
                };
            plausible.init();
        </script>
    </head>
    <body
        class="font-sans text-text bg-bg antialiased leading-[1.55] [text-rendering:optimizeLegibility]"
    >
        <slot />
    </body>
</html>
